<div id="<%= dom_id article %>">
  <div>
    <strong>Title:</strong>
    <%= article.title %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= article.body %>
  </div>

  <div>
    <strong>User:</strong>
    <%= article.user %>
  </div>

</div>
